<%= render 'shared/banner' %>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <% @restaurants.each do |restaurant| %>
                <div class="card font-size-home-pages">


                        <div class="card-trip">
                          <div class="card-trip-infos">
                            <div>
                              <%= link_to restaurant_path(restaurant) do  %>
                                <img src="<%= restaurant.photo %>" alt="resto" id="photo-resto">
                              <% end %>
                              <h4 class="card-title "><%= link_to restaurant.name, restaurant_path(restaurant), class:"deco"  %></h4>
                              <h5 class="des-gps"><em>"<%= restaurant.description%>"</h5></em>
                              <h5 class="des-gps"> ⦿ <%= link_to restaurant.distance_to(@result.first.coordinates).to_f.round(1), restaurant_path(restaurant) %> km</h6>
                               <div class="row bouton">
                              <p><%= link_to "Menu", restaurant_meals_path(restaurant), class:"btn btn-dark" %></p>

                              <p><%= link_to "Choisissez votre table", restaurant_tables_path(restaurant), class:"btn btn-dark" %></p>
                               </div>
                            </div>
                          </div>
                        </div>

                </div>
            <%end%>
        </div>
    </div>
</div>
