<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <% @restaurants.each do |restaurant| %>
                <div class="card">
                    <div class="card-horizontal d-flex">
                        <div class="card-body ">
                            <h1 class="card-title"><%= link_to restaurant.name, restaurant_path(restaurant), id:"deco"  %></h1>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p><%= restaurant.description%></p>
                        <p><%=restaurant.address%></p>
                        <p><%= link_to "Choose a new table", restaurant_tables_path(restaurant), class:"btn btn-secondary" %></p>
                        <p><%= link_to "Menu", restaurant_meals_path(restaurant), class:"btn btn-secondary" %></p>
                        <img src="<%= restaurant.photo %>" alt="resto">
                    </div>
                </div>                      
            <%end%>
        </div>
    </div>
</div>
