
<h1>MEALS</h1>

<%= simple_form_for [@reservation, @order] do |f| %>
  <%= f.input :meal_id, as: :check_boxes, collection: @starters, wrapper: :vertical_collection_inline %>
<% end %>

<h2>Starters</h2>
<% @starters.each do |starter|%>
  <%if @restaurant.name == starter.restaurant.name %>
    <p><%= starter.meal_name %> - <%= starter.price %>€</p>
  <% end %>
<% end %>


<h2>Mains</h2>
<% @mains.each do |main| %>
  <%if @restaurant.name == main.restaurant.name %>
    <p><%= main.meal_name %> - <%= main.price %>€</p>
  <% end %>
<% end %>

<h2>Desserts</h2>
<% @desserts.each do |dessert| %>
  <%if @restaurant.name == dessert.restaurant.name %>
    <p><%= dessert.meal_name %> - <%= dessert.price %>€</p>
  <% end %>
<% end %>

<h2>Beverages</h2>
<% @beverages.each do |beverage| %>
  <%if @restaurant.name == beverage.restaurant.name %>
    <p><%= beverage.meal_name %> - <%= beverage.price %>€</p>
  <% end %>
<% end %>
