<h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p>

<div class="container-fluid">
   <div class="container">
    <div class="col-md-8">
      <h1> <%= @restaurant.name %> </h1>
      <h6> <%= @restaurant.address %> </h6>
      <h6> <%= @restaurant.description %> </h6>
      <h6><%= link_to "Menu", restaurant_meals_path(@restaurant) %></h6>
      <img src="<%= @restaurant.photo %>" alt="resto">
      <p><%= link_to "Réservez votre table", restaurant_tables_path(@restaurant) %></p>
    </div>
  </div>
</div>



